# Archivos de build de Maven
/target/

# Archivos de build de Gradle
/build/
/.gradle/
/out/

# Archivos de configuración de IDE
/.idea/
/*.iml
/.vscode/

# Archivos temporales
*.log
*.tmp
*.swp

# Archivos de configuración local (sensible)

application.yml
*.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Dependencias descargadas por Gradle
/.gradle/

# Librerías empaquetadas localmente
/lib/

# Eclipse
/.classpath
/.project
/.settings/

# IntelliJ
/out/